.page {
    background-size: cover;
    text-rendering: optimizeLegibility;
    font-family: Inter, "Arial", sans-serif;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
}