.register__button {
  height: 35px;
  width: 35px;
  border: 3px solid #822c20;
  background: inherit;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .register__button {
    height: 30px;
    width: 30px;
  }
}
