.footer {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    justify-self: end;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
        background-color: white;
    }
}