.logreg {
  width: 358px;
  height: 429px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logreg {
    height: 100%;
    width: 80%;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
