.register__text {
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .register__text {
    font-size: 18px;
    line-height: 20px;
  }
}
